@model IEnumerable<Smartmom.Models.Item>

@{
    ViewBag.Title = "Item";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <h2>Item</h2>
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Item</th>
                <th>Brand</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>@Html.ActionLink(item.Name, "Details", "Item", new { id = item.ItemId }, null)</td>
                <td>@item.Brand.BrandName</td>
            </tr>
            }
        </tbody>
    </table>